body{
    overflow-x: hidden;
}
.test-title{
   text-align: center;
   margin: 2rem;
   font-size: 45px;
   background-image: linear-gradient(to bottom left, var(--dark-blue), var(--blue));
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
}
.test-def{
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: -0.5rem;
    background-image: linear-gradient(to bottom left, var(--darker-blue), var(--blue));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.test-fail{
    margin-left: 5rem;
    margin-top: 3rem;
    background-image: linear-gradient(to bottom left, darkred, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.paragraph-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: -1rem;
    gap: 10rem;
}
.image-types{
    margin-left: 3rem;
}
.img-test{
    width: 31.25rem;
    height: 13.125rem;
    margin-bottom: 1rem;
}
li{
    margin: 0.5rem;
}

ul{
    margin-left: 4.2rem;
}
ol.image-types {
    counter-reset: my-counter;
}

ol.image-types li {
    counter-increment: my-counter;
    list-style-type: none;
}

ol.image-types li::before {
    content: counter(my-counter) ". ";
    font-weight: bold;
    background-image: linear-gradient(to bottom left, var(--darker-blue), var(--blue));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-right: 5px;
}

b{
    background-image: linear-gradient(to bottom left, var(--darker-blue), var(--blue));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.test-btn{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    align-content: center;
    margin: 1rem;
    margin-left: 18rem;
    margin-bottom: 10rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px var(--blue);
    padding: 20px;
    max-width: 50rem;
    width: 100%;
    overflow-y: auto;
    max-height:35rem;
}
.modal::-webkit-scrollbar {
    width: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 6px;
    width: 10px;
}
.label {
    font-size: 14px;
}
.modal table {
    border-collapse: collapse;
    width: 31.25rem;
    border: 1px solid black;

}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;

}


.table td,
.table th {
    border: 1px solid var(--blue);
    padding: 8px;
}

.table th {
    background-color: var(--blue);
}

.table tr:nth-child(even) {
    background-color: #FFF;
}

.table tr:hover {
    background-color: var(--light-blue);
}

.failed{
    color: red;
}
.passed{
    color: #2BC45F;
}
@media only screen and (max-width: 990px) {
    .paragraph-img{
        flex-direction: column;
        margin: 1rem;
        gap: 2rem;
    }
    .modal {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 6rem;
    }
    .modal table {
        width: 100%;
    }
}



